<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.meuapp"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">

        <!-- Activity de Login (Ponto de Entrada) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activities Principais -->
        <activity
            android:name=".MainMenuActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".SearchResultsActivity"
            android:exported="false" />
        <activity
            android:name=".OrderSuccessActivity"
            android:exported="false" />

        <!-- Activities do Fluxo do Usuário -->
        <activity
            android:name=".CadastroActivity"
            android:exported="false" />
        <activity
            android:name=".PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".CarrinhoActivity"
            android:exported="false" />
        <activity
            android:name=".FormaPagamentoActivity"
            android:exported="false" />

        <!-- Activities do Fluxo de Recuperação de Senha -->
        <activity
            android:name=".ForgotPasswordEmailActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".PasswordChangedSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".ConfirmOtpActivity"
            android:exported="false" />

    </application>

</manifest>
